{% load index %}
<html>
    <head>
        <meta charset="utf-8">
        <title>GS Home Control</title>
    </head>
    <body>
        <h1>Grant's Appartment Home Control Dashboard</h1>
		<h2>Current Devices</h2>
		<h2>{{ name1 }} : {{ status1 }}</h2>
		<a href="/turnoff?id={{ id1 }}">Turn Off</a>
		</br>
		<a href="/turnon?id={{ id1 }}">Turn On</a>
		<h2>{{ name2 }} : {{ status2 }}</h2>
		<a href="/turnoff?id={{ id2 }}">Turn Off </a>
		</br>
		<a href="/turnon?id={{ id2 }}">Turn On</a>

		{% for light in lights %}
			{% for i in light %}
				{{lights.id}}
				
			{% endfor %}
		{% endfor %}
		   </body>
</html>